.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .search-3 {
  background-color: #ffffff;
  height: 640px;
  position: relative;
  width: 360px;
}

.div-wrapper .view-15 {
  background-color: #ffffff;
  height: 640px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.div-wrapper .text-8 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 15px;
  position: absolute;
  top: 84px;
}

.div-wrapper .text-wrapper-27 {
  color: #000000;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.div-wrapper .div-9 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 112px;
}

.div-wrapper .component-1003 {
  left: unset !important;
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  margin-top: -0.5px !important;
  top: unset !important;
}

.div-wrapper .component-1003-instance {
  background-image: url(../../../static/img/ellipse-15-1.png) !important;
}

.div-wrapper .view-16 {
  left: unset !important;
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  top: unset !important;
}

.div-wrapper .view-17 {
  background-image: url(../../../static/img/ellipse-15-2.png) !important;
}

.div-wrapper .view-18 {
  left: unset !important;
  margin-bottom: -0.5px !important;
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  top: unset !important;
}

.div-wrapper .view-19 {
  background-image: url(../../../static/img/ellipse-15-3.png) !important;
}

.div-wrapper .menu-3 {
  left: 0 !important;
  position: absolute !important;
  top: 596px !important;
}

.div-wrapper .serch-wrapper {
  height: 74px;
  left: 0;
  position: fixed;
  top: 0;
  width: 360px;
}

.div-wrapper .serch-3 {
  background-color: #f1f0f0;
  border-radius: 5px;
  display: block;
  height: 39px;
  left: 15px;
  overflow: hidden;
  position: relative;
  top: 17px;
  width: 330px;
}

.div-wrapper .text-9 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 19px;
  position: absolute;
  top: 10px;
}

.div-wrapper .text-wrapper-28 {
  color: #000000;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.div-wrapper .icon-search-2 {
  left: 297px !important;
  position: absolute !important;
  top: 8px !important;
}
