.loding {
  height: 94px;
  width: 94px;
}

.loding .group {
  background-image: url(../../../static/img/ellipse-1.svg);
  background-size: 100% 100%;
  height: 94px;
  position: relative;
}

.loding .ellipse {
  height: 47px;
  position: absolute;
  width: 47px;
}

.loding .frame-four {
  left: 0;
  top: 0;
}

.loding .frame-two {
  left: 47px;
  top: 47px;
}

.loding .frame-one {
  left: 47px;
  top: 0;
}

.loding .frame-three {
  left: 0;
  top: 47px;
}
