.aboutUsFrameRectangle {
  height: 594px;
  flex: 1;
  position: relative;
  background-color: var(--color-gainsboro);
  min-width: 595px;
  max-width: 100%;
}
.rectangleRectangle {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
  cursor: pointer;
}
.prediction,
.stock {
  margin: 0;
}
.stockPredictionTxtContainer {
  line-break: anywhere;
  width: 100%;
}
.frameFrame,
.stockPrediction {
  display: flex;
  position: relative;
}
.stockPrediction {
  width: 169px;
  font-weight: 800;
  align-items: center;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.frameFrame {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-3xs);
}
.frameFrameChild {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-lightpink);
  cursor: pointer;
}
.aboutUs {
  width: 130px;
  position: relative;
  display: flex;
  font-weight: 800;
  align-items: center;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
  z-index: 1;
}
.fRAMERectangleSTOCK,
.frameFrame1,
.sTOCKPREDICTION {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameFrame1 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-3xs);
  position: relative;
}
.fRAMERectangleSTOCK,
.sTOCKPREDICTION {
  max-width: 100%;
}
.sTOCKPREDICTION {
  height: 592px;
  width: 397px;
  flex-direction: column;
  gap: 16px 0;
  min-width: 397px;
}
.fRAMERectangleSTOCK {
  align-self: stretch;
  flex-direction: row;
  gap: 0 20px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .sTOCKPREDICTION {
    flex: 1;
  }
  .fRAMERectangleSTOCK {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 725px) {
  .aboutUsFrameRectangle {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs,
  .stockPrediction {
    font-size: var(--font-size-lgi);
  }
  .sTOCKPREDICTION {
    min-width: 100%;
  }
}
