.login {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .div-3 {
  background-color: #ffffff;
  height: 640px;
  position: relative;
  width: 360px;
}

.login .text {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 113px;
  padding: 10px;
  position: absolute;
  top: 507px;
}

.login .text-wrapper-12 {
  color: #808080;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.login .button-kakao-login {
  align-items: center;
  background-color: var(--variable-collection-kakao-bg-duplicate);
  border-radius: 6px;
  display: flex;
  height: 45px;
  justify-content: center;
  left: 34px;
  overflow: hidden;
  padding: 0px 14px;
  position: absolute;
  top: 442px;
  width: 292px;
}

.login .kakao-logo {
  height: 18px;
  position: relative;
  width: 18px;
}

.login .container {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 0px 28px;
  position: relative;
}

.login .label {
  color: var(--variable-collection-kakao-text);
  font-family: "ABeeZee", Helvetica;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22.5px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login .frame-demo {
  background-image: url(../../../static/img/frame-demo.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 292px;
  left: 34px;
  overflow: hidden;
  position: absolute;
  top: 61px;
  width: 292px;
}

.login .text-2 {
  background-color: #13172280;
  border-radius: 15px;
  height: 74px;
  left: -2px;
  overflow: hidden;
  position: relative;
  top: 105px;
}

.login .text-wrapper-13 {
  color: #fafafa;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 46px;
  left: 84px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}
