.div-wrapper-screen {
  align-items: center;
  border-radius: 32px;
  display: inline-flex;
  height: 37px;
  justify-content: center;
  padding: 0px 36px;
  position: relative;
}

.div-wrapper-screen .div-wrapper-6 {
  align-items: center;
  background-color: #737370b2;
  border-radius: 32px;
  display: inline-flex;
  height: 37px;
  justify-content: center;
  padding: 0px 36px;
}

.div-wrapper-screen .text-wrapper-39 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}
