.state-off-wrapper {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: #ccc6c680;
  border-top-style: solid;
  border-top-width: 0.5px;
  display: block;
  height: 53px;
  left: 20px;
  position: relative;
  width: 361px;
}

.state-off-wrapper .overlap-group {
  height: 52px;
  position: relative;
  width: 360px;
}

.state-off-wrapper .info {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 84px;
  position: absolute;
  top: 4px;
}

.state-off-wrapper .NAVER {
  color: #000000;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.state-off-wrapper .text-wrapper {
  color: #000000;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.26px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.state-off-wrapper .logo {
  background-image: url(../../../static/img/ellipse-15.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 37px;
  left: 34px;
  position: absolute;
  top: 7px;
  width: 37px;
}

.state-off-wrapper .heart-instance {
  left: 302px !important;
  position: absolute !important;
  top: 14px !important;
}

.state-off-wrapper.state-off {
  top: 20px;
}

.state-off-wrapper.state-on {
  top: 110px;
}

.state-off-wrapper.state-off .overlap-group {
  background-color: #f1f0f0;
}

.state-off-wrapper.state-on .overlap-group {
  background-color: #f1edff;
}
