.favorite-wrapper {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.favorite-wrapper .frame-29 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0px 15px;
  position: relative;
  width: 420px;
  min-height: 100vh;
}

.favorite-wrapper .content-10 {
  align-self: stretch;
  display: flex;
  background-color: #ffffff;
  width: 100%; 
  position: relative;
  min-height: 100vh;
}

.favorite-wrapper .favorite-list-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 172px;
}

.favorite-wrapper .component-1180-instance {
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  margin-top: -0.5px !important;
  position: relative !important;
}

.favorite-wrapper .container-4 {
  height: 1px !important;
  left: -8556px !important;
  top: -3539px !important;
  width: 1px !important;
}

.favorite-wrapper .container-5 {
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  position: relative !important;
}

.favorite-wrapper .container-6 {
  height: 1px !important;
  left: -8556px !important;
  top: -3591px !important;
  width: 1px !important;
}

.favorite-wrapper .container-7 {
  height: 1px !important;
  left: -8556px !important;
  top: -3643px !important;
  width: 1px !important;
}

.favorite-wrapper .container-8 {
  margin-bottom: -0.5px !important;
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  position: relative !important;
}

.favorite-wrapper .container-9 {
  height: 1px !important;
  left: -8556px !important;
  top: -3695px !important;
  width: 1px !important;
}

.favorite-wrapper .check-box {
  align-items: flex-start;
  display: inline-flex;
  left: 13px;
  position: absolute;
  top: 142px;
}

.favorite-wrapper .component-1181-instance {
  height: 1px !important;
  left: -8556px !important;
  top: -3495px !important;
  width: 1px !important;
}

.favorite-wrapper .thumb-wrapper {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  left: 304px;
  position: absolute;
  top: 141px;
}

.favorite-wrapper .thumb-2 {
  align-items: center;
  background-color: var(--variable-collection-color);
  border-radius: 6px;
  display: flex;
  height: 22px;
  justify-content: center;
  position: relative;
  width: 64px;
}

.favorite-wrapper .label-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.favorite-wrapper .text-wrapper-43 {
  color: #ffffff;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.favorite-wrapper .menu-bar-6 {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 44px;
}

.favorite-wrapper .menu-8 {
  box-shadow: 0px -2px 3.2px #0000000d !important;
  flex: 0 0 auto !important;
}

.favorite-wrapper .head-8 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  gap: 8px;
  height: 86px;
  left: 0;
  padding: 40px 24px 0px;
  position: absolute;
  top: 0;
  width: 390px;
}

.favorite-wrapper .text-wrapper-44 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
