.result {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.result .div-11 {
  background-color: #ffffff;
  height: 640px;
  overflow: hidden;
  position: relative;
  width: 360px;
}

.result .view-20 {
  background-color: #ffffff;
  height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.result .frame-2 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 39px;
  position: absolute;
  top: 112px;
}

.result .text-wrapper-34 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.39px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.result .frame-3 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 103px;
  position: absolute;
  top: 112px;
}

.result .frame-4 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 39px;
  position: absolute;
  top: 80px;
}

.result .text-wrapper-35 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.39px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.result .frame-5 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 217px;
  position: absolute;
  top: 80px;
}

.result .frame-6 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 217px;
  position: absolute;
  top: 112px;
}

.result .image-2 {
  height: 148px;
  left: 39px;
  object-fit: cover;
  position: absolute;
  top: 158px;
  width: 282px;
}

.result .overlap-group-5 {
  height: 329px;
  left: 0;
  position: absolute;
  top: 336px;
  width: 360px;
}

.result .mask-group {
  height: 293px;
  left: 39px;
  position: absolute;
  top: 0;
  width: 282px;
}

.result .frame-7 {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 135px;
  padding: 10px;
  position: absolute;
  top: 297px;
}

.result .text-wrapper-36 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.result .menu-5 {
  left: 0 !important;
  position: absolute !important;
  top: 263px !important;
}

.result .button-AI-instance {
  left: 106px !important;
  position: fixed !important;
  top: 483px !important;
}

.result .head-4 {
  background-color: #ffffff;
  height: 74px;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 360px;
}

.result .text-wrapper-37 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 44px;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
}

.result .heart-2 {
  background-image: url(../../../static/img/heart-off-15.png) !important;
  height: 28px !important;
  left: 283px !important;
  position: absolute !important;
  top: 22px !important;
  width: 28px !important;
}

.result .component-1011 {
  left: 328px !important;
  top: 23px !important;
}
