.search-screen {   /* 전체 프레임 영역*/
  align-items: center;
  background-color: #151B24;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

.search-screen .frame-7 {   /* 디자인 영역 */
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 15px;
  position: relative;
  width: 420px;
  min-height: 100vh;
}

.search-screen .stock-list-container {
  top: 286px;
  align-items: center;
  position: absolute;
  width: 100%; /* 부모의 폭에 맞추기 */
  padding: 10px;
  height: 350px;
}


.search-screen .stock-list {
  align-items: flex-start;
  justify-content: center;
  align-items: center; 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-screen .stock {
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  margin-top: -0.5px !important;
  position: relative !important;
}

.overlap-group:hover {
  background-color: #DAFFC8; 
  cursor: pointer; 
}

.search-screen .component-1169 {
  background-image: url(../../../static/img/ellipse-15-1.png) !important;
}

.search-screen .component-1169-instance {
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  position: relative !important;
}

.search-screen .stock-2 {
  background-image: url(../../../static/img/ellipse-15-9.png) !important;
}

.search-screen .stock-3 {
  margin-bottom: -0.5px !important;
  margin-left: -0.5px !important;
  margin-right: -0.5px !important;
  position: relative !important;
}

.search-screen .stock-4 {
  background-image: url(../../../static/img/ellipse-15-2.png) !important;
}

.search-screen .text-4 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 14px;
  position: absolute;
  top: 253px;
}

.search-screen .text-wrapper-18 {
  color: #ffffff;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.search-screen .search-box-container {
  top: 136px;
  align-items: center;
  position: absolute;
  width: 100%; /* 부모의 폭에 맞추기 */
  padding: 10px;
}

.search-screen .search-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 136px;
  width: 390px;
}

.search-screen .container-2 {
  border-radius: 5px;
  position: relative;
  width: 100%;
}




.search-screen .text-5 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 30px;
  position: absolute;
  top: 18px;
}

.search-screen .text-wrapper-19 {
  color: #000000;
  font-family: var(--general-font-family);
  font-size: var(--general-font-size);
  font-style: var(--general-font-style);
  font-weight: var(--general-font-weight);
  letter-spacing: var(--general-letter-spacing);
  line-height: var(--general-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.search-screen .search-instance {
  left: 338px !important;
  position: absolute !important;
  top: 16px !important;
}

.search-screen .menu-bar {
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%; 
  transform: translateX(-50%); 
  justify-content: center; 
  bottom: 0px;
  width: 100%;
  min-height: 44px;
}

.search-screen .menu-instance {
  box-shadow: 0px -2px 3.2px #2B344E !important;
  flex: 0 0 auto !important;
}

.search-screen .head {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  height: 86px;
  left: 0;
  padding: 40px 0px 0px;
  position: absolute;
  top: 0;
  width: 390px;
}

.search-screen .text-wrapper-20 {
  color: #ffffff;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
