.result-screen {   /* 전체 프레임 영역*/
  align-items: center;
  background-color: #151B24;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: auto;
}

.result-screen .design-frame {    /* 디자인 영역 */
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 15px;
  position: relative;
  width: 420px;
  min-height: 100vh;
}

.result-screen .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 86px;
}

.result-screen .text-wrapper-39 {    /* stock label text */
  color: #fff;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.result-screen .button-5 {    /* heart layout */
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 17px;
  height: 44px;
  position: relative;
}


.result-screen .frame-18 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 32px;
}

.result-screen .text-wrapper-37 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.39px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.result-screen .frame-19 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 94px;
  position: absolute;
  top: 32px;
}

.result-screen .frame-20 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.result-screen .text-wrapper-38 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.39px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.result-screen .frame-21 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 238px;
  position: absolute;
  top: 0;
}

.result-screen .frame-22 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 238px;
  position: absolute;
  top: 32px;
}



.result-screen .stock-market-container {
  top: 100px;
  align-items: center;
  position: absolute;
  width: 100%; /* 부모의 폭에 맞추기 */
  padding: 10px;
}

.result-screen .chart-container {
  top: 384px;
  align-items: center;
  position: absolute;
  height: 350px; /* 높이 설정 */
  width: 100%; /* 부모의 폭에 맞추기 */
  padding: 10px;
}

.result-screen .news-container {
  top: 780px;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 530px;
  padding: 15px;
  
}

.result-screen .radar-chart-color {
  background-color: #FBF7EE;
}


.result-screen .radar-chart-container {
  top: 1150px;
  align-items: center;
  position: absolute;
  width: 390px;
  height: 550px;
}

.result-screen .text-container {
  top: 600px;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 300px;
  width: 390px;
  padding: 15px;
}

.result-screen .model-results-container {
  top: 800px; /* .news-container의 top + height + 여백 */
  align-items: center;
  position: absolute;
  width: 390px;
  min-height: 400px; /* 결과에 따라 조정 필요 */
}

.result-screen .button-AI-wrapper {
  z-index: 1000;
  display: flex;
  position: fixed;
  left: 50%; 
  transform: translateX(-50%); 
  justify-content: center; 
  align-items: center; 
  bottom: 88px;
}

.result-screen .button-AI-instance {
  flex: 0 0 auto !important;
}

.result-screen .menu-bar-4 {
  z-index: 1000;
  display: flex;
  align-items: center;
  position: fixed;
  left: 50%; 
  transform: translateX(-50%); 
  justify-content: center; 
  bottom: 0px;
  width: 100%;
  min-height: 44px;
}

.result-screen .menu-6 {
  z-index: 1000;
  box-shadow: 0px -2px 3.2px #2B344E !important;
  flex: 0 0 auto !important;
}



.result-screen .stock-21 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}




.result-screen .heart-4 {
  background-image: url(../../../static/img/heart-off.svg) !important;
  height: 28px !important;
  position: relative !important;
  width: 28px !important;
}

.result-screen .heart-5 {
  background-image: url(../../../static/img/heart-on.svg) !important;
  height: 28px !important;
  position: relative !important;
  width: 28px !important;
}

.result-screen .instance-1 {
  height: 23px !important;
  position: relative !important;
  width: 17.45px !important;
}

.news-item {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
}

.news-content {
  margin-left: 15px;
}

.news-link {
  text-decoration: none;
  color: black;
}

.news-title {
  font-family: "Noto Sans KR", Helvetica;
  font-size: 18px;
  font-weight: bold;
  color: #D2D4DC;
  margin-bottom: 8px;
  text-align: justify;
  line-height: 1.3;
}

.news-description {
  font-family: "Noto Sans KR", Helvetica;
  font-size: 14px;
  color: #555;
  text-align: justify;
  margin-bottom: 8px;
  line-height: 1.3;
}

.model-results-container .gauge-labels {
  display: flex; /* Flexbox를 사용하여 레이블을 수평으로 정렬 */
  justify-content: space-between; /* 레이블 사이에 공간을 균등하게 분배 */
  width: 100%; /* 컨테이너 전체 너비 사용 */
  margin-top: 20px; /* 게이지 차트와 레이블 사이의 여백 */
  padding: 0 10px; /* 양쪽 끝 레이블의 패딩으로 내용이 잘리지 않도록 */
}

.model-results-container .gauge-label {
  font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
  color: #3C3C3C; /* 글자 색상 */
  font-size: 14px; /* 글자 크기 */
  text-align: center; /* 텍스트 중앙 정렬 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

/* 왼쪽 정렬 레이블 */
.model-results-container .gauge-label.left, 
.model-results-container .gauge-label.left2 {
  font-weight: bold;
  color: #DF5341; /* 강한 매도 - 빨간색 계열 */
}

.model-results-container .gauge-label.left2 {
  font-weight: bold;
  color: #782A2B; /* 매도 - 진한 빨간색/버건디 */
}

/* 가운데 정렬 레이블 */
.model-results-container .gauge-label.middle {
  font-weight: bold;
  color: #42464F; /* 중립 - 어두운 회색 */
}

/* 오른쪽 정렬 레이블 */
.model-results-container .gauge-label.right2, 
.model-results-container .gauge-label.right {
  font-weight: bold;
  color: #1F3A82; /* 매수 - 진한 파란색 */
}

.model-results-container .gauge-label.right {
  font-weight: bold; /* 강한 매수 시그널은 굵게 */
  color: #3764F3; /* 강한 매수 - 밝은 파란색 */
}