@font-face{
  font-family: 'Noto Sans KR';
  src: url(//fonts.googleapis.com/earlyaccess/notosanskr.css) format('woff2');
}

.result-screen {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.result-screen .frame-17 {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 15px;
  position: relative;
  width: 420px;
  min-height: 100vh;
}

.result-screen .content-8 {
  align-self: stretch;
  display: flex;
  background-color: #ffffff;
  width: 100%; 
  position: relative;
  min-height: 100vh;
}

.result-screen .info-5 {
  height: 48px;
  left: 24px;
  position: absolute;
  top: 126px;
  width: 341px;
}

.result-screen .frame-18 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 32px;
}

.result-screen .text-wrapper-37 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.39px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.result-screen .frame-19 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 94px;
  position: absolute;
  top: 32px;
}

.result-screen .frame-20 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
}

.result-screen .text-wrapper-38 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.39px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.result-screen .frame-21 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 238px;
  position: absolute;
  top: 0;
}

.result-screen .frame-22 {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  left: 238px;
  position: absolute;
  top: 32px;
}


.result-screen .chart-container {
  top: 220px;
  align-items: center;
  position: absolute;
  height: 350px; /* 높이 설정 */
  width: 100%; /* 부모의 폭에 맞추기 */
  padding: 10px;
}

.result-screen .news-container {
  top: 620px;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 550px;
  padding: 15px;
  
}

.result-screen .button-AI-wrapper {
  display: flex;
  position: fixed;
  left: 50%; 
  transform: translateX(-50%); 
  justify-content: center; 
  align-items: center; 
  bottom: 88px;
}

.result-screen .button-AI-instance {
  flex: 0 0 auto !important;
}

.result-screen .menu-bar-4 {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 44px;
}

.result-screen .menu-6 {
  box-shadow: 0px -2px 3.2px #0000000d !important;
  flex: 0 0 auto !important;
}

.result-screen .head-6 {
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  gap: 146px;
  height: 86px;
  left: 0;
  padding: 40px 24px 0px;
  position: absolute;
  top: 0;
  width: 390px;
}

.result-screen .stock-21 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.result-screen .text-wrapper-39 {
  color: #000000;
  font-family: "Noto Sans KR", Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.result-screen .button-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 17px;
  height: 44px;
  justify-content: center;
  position: relative;
}

.result-screen .heart-4 {
  background-image: url(../../../static/img/heart-off-7.svg) !important;
  height: 28px !important;
  position: relative !important;
  width: 28px !important;
}

.result-screen .instance-1 {
  height: 23px !important;
  position: relative !important;
  width: 17.45px !important;
}

.news-item {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0;
}

.news-content {
  margin-left: 15px;
}

.news-link {
  text-decoration: none;
  color: black;
}

.news-title {
  font-family: "Noto Sans KR", Helvetica;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  text-align: justify;
  line-height: 1.3;
}

.news-description {
  font-family: "Noto Sans KR", Helvetica;
  font-size: 14px;
  color: #555;
  text-align: justify;
  margin-bottom: 8px;
  line-height: 1.3;
}

