.home1 {
  position: relative;
  font-weight: 700;
}
.predictionMenuBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.stockPrediction1 {
  position: relative;
  font-weight: 700;
  white-space: nowrap;
}
.stockPrediction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  cursor: pointer;
}
.aboutUs1 {
  position: relative;
  font-weight: 700;
  white-space: nowrap;
}
.aboutUs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-3xs) var(--padding-9xs) var(--padding-3xs)
    var(--padding-3xs);
  cursor: pointer;
}
.cNNModelForStockPredicti,
.stockFrame {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.cNNModelForStockPredicti {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.stockFrame {
  position: absolute;
  top: 61px;
  left: 172px;
  width: 1081px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.theNextGeneration {
  margin: 0;
}
.aiStock {
  margin: 0;
  white-space: pre-wrap;
}
.theNextGenerationContainer {
  margin: 0;
  height: 137px;
  flex: 1;
  position: relative;
  font-size: inherit;
  display: flex;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  align-items: center;
  max-width: 100%;
}
.aboutUsFrame,
.nextGenerationAIStockPred {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.aboutUsFrame {
  width: 669px;
  flex-direction: row;
  padding: 0 var(--padding-mini);
  box-sizing: border-box;
}
.nextGenerationAIStockPred {
  position: absolute;
  top: 172px;
  left: 46px;
  width: 1333px;
  flex-direction: column;
  gap: 18px 0;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.ai,
.p,
.p1 {
  margin: 0;
}
.aiContainer1 {
  width: 100%;
}
.aiContainer {
  position: absolute;
  bottom: -82px;
  left: 76px;
  font-size: var(--font-size-29xl);
  display: flex;
  font-style: italic;
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  align-items: center;
  width: 759px;
  height: 125px;
}
.image46Icon {
  position: absolute;
  top: 1372px;
  left: 557px;
  width: 850px;
  height: 478px;
  object-fit: cover;
}
.cnn,
.div {
  position: absolute;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 795px;
  height: 156px;
}
.div {
  bottom: -293px;
  left: 76px;
}
.cnn {
  right: 61px;
  bottom: -1222px;
}
.deepLearning,
.imageBased,
.stockPrediction2 {
  margin: 0;
}
.imageBasedDeepLearningContainer1 {
  width: 100%;
}
.imageBasedDeepLearningContainer {
  margin: 0;
  position: absolute;
  right: 67px;
  bottom: -1006px;
  font-size: var(--font-size-29xl);
  display: flex;
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  text-align: right;
  align-items: center;
  width: 759px;
  height: 125px;
}
.image47Icon {
  position: absolute;
  top: 2334px;
  left: 100px;
  width: 890px;
  height: 501px;
  object-fit: cover;
}
.disclaimer {
  margin: 0;
  bottom: -2356px;
  font-size: var(--font-size-29xl);
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  width: 759px;
  height: 125px;
}
.disclaimer,
.div1,
.howTo {
  position: absolute;
  left: 146px;
  display: flex;
  align-items: center;
}
.div1 {
  bottom: -2518px;
  font-weight: 300;
  width: 930px;
  height: 207px;
  z-index: 1;
}
.howTo {
  margin: 0;
  bottom: -2024px;
  font-size: var(--font-size-29xl);
  font-style: italic;
  font-weight: 800;
  font-family: inherit;
  width: 759px;
  height: 125px;
}
.chooseAStock,
.li,
.prediction,
.prediction1 {
  margin-bottom: 0;
}
.predictionChooseA {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 32px;
}
.predictionContainer {
  position: absolute;
  bottom: -2231px;
  left: 146px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 930px;
  height: 207px;
  z-index: 1;
}
.home {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: var(--color-white);
  overflow-y: auto;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
  .home {
    height: auto;
    min-height: 1024;
  }
}
@media screen and (max-width: 1000px) {
  .aiContainer,
  .disclaimer,
  .howTo,
  .imageBasedDeepLearningContainer,
  .theNextGenerationContainer {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 450px) {
  .aiContainer,
  .theNextGenerationContainer {
    font-size: var(--font-size-10xl);
  }
  .cnn,
  .div {
    font-size: var(--font-size-lgi);
  }
  .disclaimer,
  .imageBasedDeepLearningContainer {
    font-size: var(--font-size-10xl);
  }
  .div1 {
    font-size: var(--font-size-lgi);
  }
  .howTo {
    font-size: var(--font-size-10xl);
  }
  .predictionContainer {
    font-size: var(--font-size-lgi);
  }
}
