.icon-variants {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 44px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 72px;
}

.icon-variants .class {
  color: var(--point-color) !important;
}

.icon-variants .icon-instance {
  flex: 0 0 auto !important;
  margin-bottom: -3.5px !important;
  margin-top: -3.5px !important;
}
