.login-request {
  background-color: #ffffffe6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-request .div-14 {
  background-color: #ffffffe6;
  height: 640px;
  position: relative;
  width: 360px;
}

.login-request .view-27 {
  align-items: center;
  background-color: var(--variable-collection-kakao-bg-duplicate);
  border-radius: 6px;
  display: flex;
  height: 45px;
  justify-content: center;
  left: 34px;
  overflow: hidden;
  padding: 0px 14px;
  position: absolute;
  top: 442px;
  width: 292px;
}

.login-request .image-4 {
  height: 18px;
  position: relative;
  width: 18px;
}

.login-request .label-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 0px 28px;
  position: relative;
}

.login-request .label-2 {
  color: var(--variable-collection-kakao-text);
  font-family: "ABeeZee", Helvetica;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22.5px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-request .text-wrapper-40 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 44px;
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 199px;
}
